<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Declare whether the camera feature is required or optional -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconclock_4"
        android:label="Stopwatch Metrics"
        android:roundIcon="@drawable/iconclock_4"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="35"
        android:enableOnBackInvokedCallback="true">


        <activity
            android:name="com.example.stopwatchmetrics.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockScreenOrientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.stopwatchmetrics.CameraActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockScreenOrientation">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
